<!DOCTYPE html>
<html>

<head>
  <title>Vue JS To Do List</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="src/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <style> </style>
</head>

<body>
  <div id="app">
    <div class="inputBar">
      <input @keyup.enter="addTask" v-model="newTask" placeholder="Enter a task...">
      <div>
        <button :disabled="newTask.length<=0" v-on:click="addTask">Add</button>
      </div>
    </div>

    <ul>
      <li v-for="(task, index) in tasks" :key="index">
        <input type="checkbox" v-model="completed[index]">
        <template v-if="editIndex === index">
          <input v-model="editedTask" @keyup.enter="exitEditMode">
        </template>
        <template v-else>
          <span @click="enterEditMode(index)">{{ task.text }}</span>
        </template>
        <button @click="deleteTask(index)" :disabled="isDeleting(index)">Delete</button>
      </li>

    </ul>
    <template v-if="tasks.length>0">
      <button class="clearButton" v-on:click="clearAll">Clear All</button>
    </template>
  </div>
</body>

</html>